{{!-- <p>Connected to server (from index.handlebars file)</p> --}}

<h1>Eat-Da-Burger!</h1>
<br>

<img src="/assets/img/burger.png" id="burger">
<br>

<h2>Burgers that are not devoured!</h2>

<ul>
  {{#each burgerData}}
    {{#unless this.devoured}}
      <p>{{this.burger_name}}</p>
      {{!-- <p>{{this.id}}. {{this.burger_name}}</p> --}}
      <form method="POST" action="/burgers/update?_method=PUT">
        <input type="hidden" name="burger_id" type="text" value={{this.id}}>
        <button type="submit">Devour it!</button>      
      </form>
    {{/unless}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>

<div class="container main-burger">
    <div class="row">
        <div class="col-md-12">
            <form class="create-form add-burger" action="/" method="POST">
                <div class="form-group">
                    {{!-- <label for="burger_name">Burger:</label> --}}
                    <input type="text" id="burger_name" name="burger" placeholder="Name of Burger">
                <button type="submit btn-primary">Add burger</button>
                <p>Enter a burger you'd like to eat.</p>
            </form>
        </div>
    </div>
</div>
