h1 {
    text-align: center;
}

#eat {
    text-align: center;
}

.navbar {
    justify-content: center;
    color: #ffffff;
  }

#burger {
    width: 85%;
    height: auto;
}

#burgerDiv {
    text-align: center;
}

#devour {
    display: inline;
}

/* h3 {
    text-align: center;
} */